<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="utf-8" />
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class = "text-center" th:text="${session.message.content}"></p>
							
							<th:block th:text = "${#session.removeAttribute('message')}"></th:block>
							
						</div>

						<div class="container text-center">
							<img class="" style="width: 80px;" th:src="@{/img/register.png}">
						</div>

						<h1 class="text-center text-white">Register Here !!</h1>

						<form action="" th:action="@{/do_register}" method="post"
							th:object="${employee}">

							<div class="form-group">
								<input type="text" class="form-control" name="name"
									placeholder="Name *" value="" required
									th:value="${employee.name}" />
							</div>


							<div class="form-group">
								<input type="password" class="form-control" name="password"
									placeholder="Password *" value="" />
							</div>


							<div class="form-group">
								<input type="email" name="email" class="form-control"
									placeholder="Your Email *" value=""
									th:value="${employee.email}" />
							</div>

							<input type="submit" class="btn btn-primary" value="Register" />
							<input type="reset" class="btn btn-warning" value="Reset" />

						</form>

					</div>

				</div>

			</div>
		</div>
	</section>

</body>

</html>
